/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/*QuickReset*/*{margin:0;box-sizing:border-box;}


html {
  font-family: sans-serif;
  color: rgb(209, 209, 209);
}

body {                /* body - or any parent wrapper */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0px;
}

.mat-icon {
  vertical-align: middle;
}