<header>
  <nav id="global-nav">
    <div>Designed by David Balaban</div>
    <ul >
      <li><mat-icon>polymer</mat-icon></li>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">JavaScript Practice</a></li>
      <li><a href="#">Angular Concepts</a></li>
    </ul>
    <div>Welcome, Guest!</div>
  </nav>
</header>
<div class="main-container"><br>
  <div class="welcome-banner">
    <span style="font-weight: bold; font-size: 28px; color: gray;">Development Reimagined... </span>This site was created to demonstrate my skills as a UI engineer.
  <div class="gcse-search"></div>
  </div><br>

  <div class="welcome-banner">
    <span style="font-weight: bold; font-size: 28px; color: gray;">Development Reimagined... </span>This site was created to demonstrate my skills as a UI engineer.
  </div>
</div>
<footer>
  <ul>
    <li>Privacy Policy</li>
    <li>Version 1.0 (Alpha)</li>
  </ul>
</footer>
