.main-container {
  background: rgb(214, 214, 214);
  height: 100vh;
  padding-top: 44px;
  margin-bottom: -34px;
  color: #202020;
}

footer {
  background: #243445;
  height: 34px;
  line-height: 34px;
  padding: 0px 20px;

}

footer ul {
  display: flex;
  list-style: none;
}

footer ul li {
  padding: 0px 15px; 
}

#global-nav {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 44px;
  background:#243445;
  display: flex;
  line-height: 44px;
  padding: 0px 20px;
}

#global-nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  max-width: 600px;
  margin: 0 auto;
  padding: 0px;
}

#global-nav ul li {
  padding: 0px 15px;
  line-height: 44px;
}

#global-nav ul li a {
  text-decoration: none;
  color: inherit;
}

.welcome-banner {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background: #f1f1f1;
  width: 100%;
  height: 500px;
}
